Repository dc4eu/vc, pull requests merged in 2024-10, with the labels that each got.

#102 pre-paris changes
  .gitignore
  .vscode/settings.json
  Makefile
  cmd/issuer/main.go
  config.yaml
  developer_tools/gen_ec_sign_key.sh
  docker-compose.yaml
  docs/diagrams/issuer_many_authentic_source.png
  docs/diagrams/issuer_many_authentic_source.puml
  docs/diagrams/many_issuer_one_authentic_source.png
  docs/diagrams/many_issuer_one_authentic_source.puml
  internal/apigw/apiv1/client.go
  internal/apigw/apiv1/handlers_issuer.go
  internal/apigw/db/methods_vc_datastore.go
  internal/gen/issuer/apiv1_issuer/v1-issuer.pb.go
  internal/gen/issuer/apiv1_issuer/v1-issuer_grpc.pb.go
  internal/gen/registry/apiv1_registry/v1-registry_grpc.pb.go
  internal/issuer/apiv1/client.go
  internal/issuer/apiv1/ehic.go
  internal/issuer/apiv1/handlers.go
  internal/issuer/apiv1/handlers_misc.go
  internal/issuer/apiv1/pda1.go
  internal/issuer/auditlog/http_client.go
  internal/issuer/auditlog/methods.go
  internal/issuer/auditlog/service.go
  internal/issuer/db/methods_test.go
  internal/issuer/db/methods_vc_datastore.go
  internal/issuer/db/service.go
  internal/issuer/grpcserver/endpoints.go
  internal/issuer/grpcserver/service.go
  internal/issuer/simplequeue/service.go
  pkg/datastoreclient/client.go
  pkg/datastoreclient/endpoints_document.go
  pkg/datastoreclient/endpoints_identity.go
  pkg/datastoreclient/errors.go
  pkg/model/config.go
  proto/v1-issuer.proto
  vendor/github.com/masv3971/gosdjwt/issuer.go
Labels: bug, enhancement, Issuer, apigw

#106 Jwk well-known endpoint.
  .vscode/settings.json
  config.yaml
  internal/apigw/apiv1/handlers_issuer.go
  internal/apigw/httpserver/api.go
  internal/apigw/httpserver/endpoints.go
  internal/apigw/httpserver/service.go
  internal/gen/issuer/apiv1_issuer/v1-issuer.pb.go
  internal/gen/issuer/apiv1_issuer/v1-issuer_grpc.pb.go
  internal/issuer/apiv1/client.go
  internal/issuer/apiv1/handlers.go
  internal/issuer/apiv1/jwk.go
  internal/issuer/grpcserver/api.go
  internal/issuer/grpcserver/endpoints.go
  proto/v1-issuer.proto
Labels: enhancement, service_issuer, service_apigw

#110 UI upgrade to support credential creation etc.
  config.yaml
  internal/mockas/apiv1/utils.go
  internal/ui/apiv1/apigw_client.go
  internal/ui/apiv1/handlers.go
  internal/ui/httpserver/api.go
  internal/ui/httpserver/endpoints.go
  internal/ui/httpserver/service.go
  internal/ui/static/index.html
  internal/ui/static/ui.js
  pkg/model/config.go
Labels: enhancement, service_ui
